@charset "UTF-8";
/*wireframe.css*/
/* Works together with Twentysixteen, Twentyseventeen, Twentynineteen and TwentyTwenty and many other themes.
*/

/*
* SOME RESETS
*/
body.is-wireframe {
  background-color: transparent !important;
  background: transparent !important;
}

body.is-wireframe * {
  border-radius: 0;
  background-image: none;
  font-style: normal !important;
}

/*
* CHANGE IMAGES TO PLACEHOLDER
*/
.is-wireframe div img,
.is-wireframe figure img {
  border: 2px solid #909090;
  border-radius: 2% 1% 2% 1%/1% 1% 2% 4%;
}

.is-wireframe div img,
.is-wireframe figure img {
  -o-object-position: -99999px 99999px;
  object-position: -99999px 99999px;
  background: url("images/placeholder.png") center bottom no-repeat;
  background-size: cover !important;
}
.is-wireframe .wp-block-cover {
  background: url("images/placeholder.png") center bottom no-repeat !important;
  background-size: cover !important;
}
.is-wireframe .has-background-dim:before {
  background-color: black !important;
}

/*Font color on dimmed cover blcosk always be white*/
.is-wireframe {
  /*
  * BITS AND BOBS
  */
  /* Define some extra CSS for wireframe font
  because the sketchy font is – different. */
  /* Buttons Block hover */
  /* Hide elements that make no sense in a wireframe. */
  /* Leave adminbar alone. */
}
.is-wireframe .wp-block-cover.has-background-dim .wp-block-cover__inner-container * {
  color: white !important;
}
.is-wireframe .wp-block-button__link:hover,
.is-wireframe .wp-block-button.is-style-outline .wp-block-button__link:hover {
  background-color: #0972be;
  color: white;
}
.is-wireframe .edit-link,
.is-wireframe .post-edit-link,
.is-wireframe .post-edit,
.is-wireframe .comment-form label {
  display: none !important;
}
.is-wireframe div#wpadminbar,
.is-wireframe div#wpadminbar a {
  line-height: inherit !important;
  font-family: inherit !important;
}
